* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

#conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#opcoes label,
.form-group label,
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #000000;
}
select,
input[type="number"],
input[type="text"],
input[type="submit"],
button {
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}
select,
input[type="submit"],
button {
    cursor: pointer;
}

input[type="submit"],
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

.options {
    display: flex;
    align-items: center;
}

p {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
#resultado-termometria,
#resultadotriangulo,
#resultado_Seno,
#calcexpressaor,
#resutfuncao,
#resultado,
#resultado_oposto {
    margin-top: 20px;
    padding: 15px;
    background: #e9ecef;
    border-left: 4px solid #0056b3;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}
#inf1{
    font-size: center;
}
#inf2,
#inf3,
#inf4,
#inf5{
    text-align: left;
    color: #000000;
    font-size: 17px;
}
#expressaoMatematica p button {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    height: auto;
}

#expressaoMatematica p button:hover {
    background-color: #0056b3;
}
#enviarSeno3 {
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    background: #eaedf0;
    border-left: 4px solid red;
    border-radius: 4px;
    font-size: 17px;
    color: #000000;
}
.form-container {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.fraction sup,
.fraction sub {
    display: block;
}

.fraction sup {
    font-size: 16px;
    margin-bottom: -5px;
}

.fraction sub {
    font-size: 16px;
    margin-top: -5px;
}

hr {
    margin: 20px auto;
    width: 80%;
    border: none;
    border-top: 1px solid #ccc;
}